{% extends 'base.html.twig' %}

{% block title %}Hello SantaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Join to secret Santa</h1>
    {{ app.user.email ?? '' }}
    <a type="button" href="/{{ app.user ? 'logout': 'login'}}">
        {{ app.user ? 'Logout' : 'Login/Regist' }}
    </a>
    {% if app.user %}
        <div>
            <a type="button" class="btn btn-primary" href="{{ path('add_group') }}">Create group</a><br>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="text-align:center">You participating</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td style="text-align:center">
                        {% if group.hasUser(app.user)%}
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                            </svg>
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-secondary" href="{{ path('show_group', {'id': group.id}) }}">Show</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-secondary" href="{{ path('app_mailer') }}">Invite friend</a>
    {% endif %}

</div>
{% endblock %}
